{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Miel Pura{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'app1/css/style.css' %}"> <!-- Esta línea debe estar presente -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>
    <nav>
        <!-- La navegación ahora está vacía -->
    </nav>
    {% block content %}

    {% endblock %}
    <footer class="footer">
        <div class="footer-icons">
            <img src="{% static 'app1/img/icono.jpeg' %}" alt="Icono miel 1">
            <div class="empresa-info">
                <h3>Colmenar do Castelo</h3>
                <p>Carretera de Verín 22</p>
                <p>32619 Verín, Ourense</p>
                <p>Teléfono: 655 85 85 85</p>
            </div>
            <img src="{% static 'app1/img/icono2.jpeg' %}" alt="Icono miel 2">
        </div>
    </footer>
</body>

</html>