{% extends 'app1/base.html' %}
{% load static %}

{% block content %}
    <main>
        <section class="hero">
            <h2>COLMENAR DO CASTELO</h2>
            <a href="{% url 'productos' %}" class="btn">Ver Productos</a>
        </section>

        <section class="productos">
            <div class="productos-container">
                <div class="producto">
                    <img src="{% static 'app1/img/flor.jpeg' %}" alt="Miel de flores">
                   
                </div>
                <div class="producto">
                    <img src="{% static 'app1/img/miel.jpeg' %}" alt="Miel de bosque">
                   
                </div>
            </div>
            <a href="{% url 'productos' %}" class="btn-productos">Ver Productos</a>
        </section>
    </main>
{% endblock %}