{% extends 'app1/base.html' %}
{% load static %}

{% block content %}
    <main>
        <section class="productos-page">
            <h2>Nuestra Selección de Mieles</h2>
            <div class="productos-grid">
                <div class="producto">
                    <img src="{% static 'app1/img/flor.jpeg' %}" alt="Miel de flores">
                    <!-- <h3>Miel de Flores</h3>
                    <p>Un sabor suave y aromático.</p>
                    <p class="precio">$10.99</p> -->
                </div>
                <div class="producto">
                    <img src="{% static 'app1/img/miel.jpeg' %}" alt="Miel de bosque">
                    <!-- <h3>Miel de Bosque</h3>
                    <p>Rica en antioxidantes, ideal para la salud.</p>
                    <p class="precio">$12.99</p> -->
                </div>
                <div class="producto">
                    <img src="{% static 'app1/img/fresca.jpeg' %}" alt="Fresca">
                    <!-- <h3>Fresca</h3>
                    <p>Descripción del producto Fresca.</p>
                    <p class="precio">$11.99</p> -->
                </div>
                <div class="producto">
                    <img src="{% static 'app1/img/jaleareal.jpeg' %}" alt="Jalea Real">
                    <!-- <h3>Jalea Real</h3>
                    <p>Descripción del producto Jalea Real.</p>
                    <p class="precio">$14.99</p> -->
                </div>
                <div class="producto">
                    <img src="{% static 'app1/img/melaza.jpeg' %}" alt="Melaza">
                    <!-- <h3>Melaza</h3>
                    <p>Descripción del producto Melaza.</p>
                    <p class="precio">$9.99</p> -->
                </div>
                <div class="producto">
                    <img src="{% static 'app1/img/miel de romero.jpeg' %}" alt="Miel de Romero">
                    <!-- <h3>Miel de Romero</h3>
                    <p>Descripción del producto Miel de Romero.</p>
                    <p class="precio">$13.99</p> -->
                </div>
                <div class="producto">
                    <img src="{% static 'app1/img/propoleo.jpeg' %}" alt="Propoleo">
                    <!-- <h3>Propoleo</h3>
                    <p>Descripción del producto Propoleo.</p>
                    <p class="precio">$15.99</p> -->
                </div>
                <div class="producto">
                    <img src="{% static 'app1/img/tarritos.jpeg' %}" alt="Tarritos">
                    <!-- <h3>Tarritos</h3>
                    <p>Descripción del producto Tarritos.</p>
                    <p class="precio">$8.99</p> -->
                </div>
                <div class="producto">
                    <img src="{% static 'app1/img/mielantigoteo.jpeg' %}" alt="Miel Antigoteo">
                    <!-- <h3>Miel Antigoteo</h3>
                    <p>Descripción del producto Miel Antigoteo.</p>
                    <p class="precio">$16.99</p> -->
                </div>
                <div class="producto">
                    <img src="{% static 'app1/img/mieldecaña.jpeg' %}" alt="Miel de Caña">
                    <!-- <h3>Miel de Caña</h3>
                    <p>Descripción del producto Miel de Caña.</p>
                    <p class="precio">$17.99</p> -->
                </div>
            </div>
        </section>
    </main>
{% endblock %}